body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background: #dbdbdb;
}

.handle {
  max-width: 250px;
}

.main__container {
  display: flex;
  justify-content: center;
}
